<section class="hero-img">
<div class="center hero-unit hero-bg home-hero">
<div class="hero-title">
  <h1>Welcome to the Floc!</h1>
</br>
</br>
  <h3>
    Store, share and find your amazing Film Locations!
  </h3>
</br>

  <div class="span6 offset3 hero-login">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email %>

      <%= f.password_field :password %>

      <%= button_tag(type: 'submit', class: "btn btn-block btn-social btn-reddit") do %>
      	<span class="fa fa-map-marker"></span> Log in with Email
      <% end %>

    <% end %>
</br>
    <%= link_to "/auth/facebook", class: "btn btn-block btn-social btn-facebook" do %>
    	<span class="fa fa-facebook"></span> Log in with Facebook
    <% end %>
</br>
    <%= link_to signup_path, class: "btn btn-block btn-social btn-google" do %>
    	<span class="fa fa-user-plus"></span> New user? Sign up now!
    <% end %>
</br>
    </div>
</div>
</div>
</section>
