<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
<%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.input :name, :error => false%>

	  <%= f.input :country, :error => false %>
	  
      <%= f.input :email, :error => false %>
	  
	  <%= f.input :webpage, :error => false %>

      <%= f.input :password, :error => false %>

      <%= f.input :password_confirmation, :error => false %>

      <%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Change my Gravatar</a>
  </div>
</div>