<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
<%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.input :name, :error => false%>

	  <%= f.input :country, :error => false %>
	  
      <%= f.input :email, :error => false %>
	  
	  <%= f.input :webpage, :error => false %>

      <%= f.input :password, :error => false %>

      <%= f.input :password_confirmation, :error => false %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


<a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-facebook"></span> Sign in with Twitter
  </a>



    <%= link_to "Log in with Facebook", "/auth/facebook", class: "btn btn-block btn-social btn-facebook" %>


<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>