<tr>
	<td class="location">
			<% if location.public %>
		  		<% if location.photos.empty? %> 
		  			<%= link_to image_tag("/images/noimage.jpg", :class => 'location-thumbnail'), location, :id => "/images/noimage.jpg", :class => 'no-thumbnail-preview' %>
		  		<% else %>
		  			<%= link_to image_tag(location.photos.first.photo.url, :class => 'location-thumbnail'), location, :id => location.photos.first.photo.url, :class => 'location-thumbnail-preview' %>
		  		<% end %>
		  		<%= link_to location.name, location %> 
		  	<% else %>
		  		<%= link_to image_tag("/images/private.jpg", :class => 'location-thumbnail'), location, :id => "/images/private.jpg", :class => 'private-thumbnail-preview' %>
		  		<%= link_to location.name + " - Private", location, class: 'label-warning' %> 
		  	<% end %>

	</td>
	<td class="location">
			<% if location.user == current_user %>
				<%= link_to "Edit", edit_location_path(location), class: 'btn btn-success btn-xs' %>
				<%= link_to 'Delete', location, :method => :delete, :confirm => "Are you sure you want to delete this location?", class: 'btn btn-warning btn-xs' %>
			<% end %>
	</td>

</tr>