<% provide(:title, @location.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= @location.photos.first.photo.url %>
      </h1>
		Photos:
		<% @location.photos.each do |pic| %>
			<%= image_tag pic.photo.url %>
		<% end %>
	  </br>
		Tags:
		<%= raw @location.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')%>
	  </br>
		User:
		<%= @location.user.name %>
		<%= @location.latitude %>
		<%= @location.longitude %>
	  </br>
		<h4>Nearby:</h4>
			<ul>
			<% for location in @location.nearbys(5) %>
				<li><%= link_to location.name, location %> (<%=location.distance.round(2) %> miles)</li>
			<% end %>
			</ul>
    </section>
  </aside>
</div>